@model StudentManagement.Areas.Teacher.Data.SearchStudentModel

@{
    ViewBag.Title = "Students";
}
@if (Model.Class != null)
{
    @Html.Partial("_ClassDetail", Model.Class)
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bold">Students</h3>
    </div>
    <div class="card-body">
        @if (Model.Class != null)
        {
            <div class="text-right m-3 font-weight-bold">
                @Html.ActionLink("+ Add Student To Class", "AddStudentClass", new { classID = Model.Class.ClassID })
            </div>
        }
        
        <form>
            @if (Model.People.List.Count > 0)
            {
                <div class="row">
                    @Html.Partial("_StudentList", Model.People)
                </div>
            }
            else
            {
                @: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No students found...
            }
        </form>
    </div>
</div>