@model StudentManagement.Areas.Student.Data.AnswerModel

<div class="row d-flex flex-column text-center">
    <h3 class="m-3">Model.AnswerTitle</h3>
    <h6 class="m-2">Model.CreateDate</h6>
    <div>Model.Description</div>
</div>