@model StudentManagement.Areas.Student.Data.SearchTestModel

@{
    ViewBag.Title = "Tests";
}
@if (Model.Class != null)
{
    @Html.Partial("_ClassDetail", Model.Class)
}
@if (Model.Teacher != null)
{
    @Html.Partial("_TeacherDetail", Model.Teacher)
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header ">
        <h3 class="m-0 text-primary font-weight-bold">Tests</h3>
    </div>
    <div class="card-body">
        <form>
            @if (Model.Tests.List.Count > 0)
            {
                <div class="row">
                    @Html.Partial("_TestList", Model.Tests)
                </div>
            }
            else
            {
                @: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No tests found...
            }

        </form>
    </div>
</div>
