@model StudentManagement.Areas.Manager.Data.PersonModel

<!-- Details -->
<div class="card shadow mb-4">
    <div class="card-header text-primary">
        <h3>Details</h3>
    </div>
    <div class="card-body d-flex justify-content-around">
        <div class="col-md-4">
            <div><strong>Full name: @Model.Fullname</strong></div>
            <div><strong>Gender: </strong>@Model.Gender</div>
        </div>
        <div class="col-md-4">
            <div><strong>Phone: </strong>@Model.Phone</div>
            <div><strong>Address: </strong>@Model.Address</div>
        </div>
    </div>
</div>
